blog_demo/SampleService/xml-resources/axis2/META-INF/SampleService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://com/org/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://com/org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://com/org/">
    <wsdl:types>
        <xs:schema xmlns:ns="http://com/org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://com/org/xsd">
            <xs:element name="createUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="aboutme" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllJSONResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllJSONForUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllJSONForUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllXMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllXMLForUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllXMLForUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getGroupResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getIPAddressResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getJSON">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getJSONResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getXML">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getXMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertMessage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="group" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertMessageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="logIn">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="logInResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publish">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchAllJSON">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="search_key" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchAllJSONResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchAllXML">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="search_key" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="searchAllXMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="insertMessageRequest">
        <wsdl:part name="parameters" element="ns0:insertMessage"/>
    </wsdl:message>
    <wsdl:message name="insertMessageResponse">
        <wsdl:part name="parameters" element="ns0:insertMessageResponse"/>
    </wsdl:message>
    <wsdl:message name="searchAllJSONRequest">
        <wsdl:part name="parameters" element="ns0:searchAllJSON"/>
    </wsdl:message>
    <wsdl:message name="searchAllJSONResponse">
        <wsdl:part name="parameters" element="ns0:searchAllJSONResponse"/>
    </wsdl:message>
    <wsdl:message name="getCurrentUserRequest"/>
    <wsdl:message name="getCurrentUserResponse">
        <wsdl:part name="parameters" element="ns0:getCurrentUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllJSONRequest"/>
    <wsdl:message name="getAllJSONResponse">
        <wsdl:part name="parameters" element="ns0:getAllJSONResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllXMLForUserRequest">
        <wsdl:part name="parameters" element="ns0:getAllXMLForUser"/>
    </wsdl:message>
    <wsdl:message name="getAllXMLForUserResponse">
        <wsdl:part name="parameters" element="ns0:getAllXMLForUserResponse"/>
    </wsdl:message>
    <wsdl:message name="createUserRequest">
        <wsdl:part name="parameters" element="ns0:createUser"/>
    </wsdl:message>
    <wsdl:message name="createUserResponse">
        <wsdl:part name="parameters" element="ns0:createUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllXMLRequest"/>
    <wsdl:message name="getAllXMLResponse">
        <wsdl:part name="parameters" element="ns0:getAllXMLResponse"/>
    </wsdl:message>
    <wsdl:message name="getXMLRequest">
        <wsdl:part name="parameters" element="ns0:getXML"/>
    </wsdl:message>
    <wsdl:message name="getXMLResponse">
        <wsdl:part name="parameters" element="ns0:getXMLResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllJSONForUserRequest">
        <wsdl:part name="parameters" element="ns0:getAllJSONForUser"/>
    </wsdl:message>
    <wsdl:message name="getAllJSONForUserResponse">
        <wsdl:part name="parameters" element="ns0:getAllJSONForUserResponse"/>
    </wsdl:message>
    <wsdl:message name="getGroupRequest"/>
    <wsdl:message name="getGroupResponse">
        <wsdl:part name="parameters" element="ns0:getGroupResponse"/>
    </wsdl:message>
    <wsdl:message name="getIPAddressRequest"/>
    <wsdl:message name="getIPAddressResponse">
        <wsdl:part name="parameters" element="ns0:getIPAddressResponse"/>
    </wsdl:message>
    <wsdl:message name="publishRequest">
        <wsdl:part name="parameters" element="ns0:publish"/>
    </wsdl:message>
    <wsdl:message name="publishResponse">
        <wsdl:part name="parameters" element="ns0:publishResponse"/>
    </wsdl:message>
    <wsdl:message name="searchAllXMLRequest">
        <wsdl:part name="parameters" element="ns0:searchAllXML"/>
    </wsdl:message>
    <wsdl:message name="searchAllXMLResponse">
        <wsdl:part name="parameters" element="ns0:searchAllXMLResponse"/>
    </wsdl:message>
    <wsdl:message name="logInRequest">
        <wsdl:part name="parameters" element="ns0:logIn"/>
    </wsdl:message>
    <wsdl:message name="logInResponse">
        <wsdl:part name="parameters" element="ns0:logInResponse"/>
    </wsdl:message>
    <wsdl:message name="getJSONRequest">
        <wsdl:part name="parameters" element="ns0:getJSON"/>
    </wsdl:message>
    <wsdl:message name="getJSONResponse">
        <wsdl:part name="parameters" element="ns0:getJSONResponse"/>
    </wsdl:message>
    <wsdl:portType name="SampleServicePortType">
        <wsdl:operation name="insertMessage">
            <wsdl:input message="axis2:insertMessageRequest" wsaw:Action="urn:insertMessage"/>
            <wsdl:output message="axis2:insertMessageResponse" wsaw:Action="urn:insertMessageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchAllJSON">
            <wsdl:input message="axis2:searchAllJSONRequest" wsaw:Action="urn:searchAllJSON"/>
            <wsdl:output message="axis2:searchAllJSONResponse" wsaw:Action="urn:searchAllJSONResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCurrentUser">
            <wsdl:input message="axis2:getCurrentUserRequest" wsaw:Action="urn:getCurrentUser"/>
            <wsdl:output message="axis2:getCurrentUserResponse" wsaw:Action="urn:getCurrentUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllJSON">
            <wsdl:input message="axis2:getAllJSONRequest" wsaw:Action="urn:getAllJSON"/>
            <wsdl:output message="axis2:getAllJSONResponse" wsaw:Action="urn:getAllJSONResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllXMLForUser">
            <wsdl:input message="axis2:getAllXMLForUserRequest" wsaw:Action="urn:getAllXMLForUser"/>
            <wsdl:output message="axis2:getAllXMLForUserResponse" wsaw:Action="urn:getAllXMLForUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <wsdl:input message="axis2:createUserRequest" wsaw:Action="urn:createUser"/>
            <wsdl:output message="axis2:createUserResponse" wsaw:Action="urn:createUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllXML">
            <wsdl:input message="axis2:getAllXMLRequest" wsaw:Action="urn:getAllXML"/>
            <wsdl:output message="axis2:getAllXMLResponse" wsaw:Action="urn:getAllXMLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getXML">
            <wsdl:input message="axis2:getXMLRequest" wsaw:Action="urn:getXML"/>
            <wsdl:output message="axis2:getXMLResponse" wsaw:Action="urn:getXMLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllJSONForUser">
            <wsdl:input message="axis2:getAllJSONForUserRequest" wsaw:Action="urn:getAllJSONForUser"/>
            <wsdl:output message="axis2:getAllJSONForUserResponse" wsaw:Action="urn:getAllJSONForUserResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getGroup">
            <wsdl:input message="axis2:getGroupRequest" wsaw:Action="urn:getGroup"/>
            <wsdl:output message="axis2:getGroupResponse" wsaw:Action="urn:getGroupResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getIPAddress">
            <wsdl:input message="axis2:getIPAddressRequest" wsaw:Action="urn:getIPAddress"/>
            <wsdl:output message="axis2:getIPAddressResponse" wsaw:Action="urn:getIPAddressResponse"/>
        </wsdl:operation>
        <wsdl:operation name="publish">
            <wsdl:input message="axis2:publishRequest" wsaw:Action="urn:publish"/>
            <wsdl:output message="axis2:publishResponse" wsaw:Action="urn:publishResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchAllXML">
            <wsdl:input message="axis2:searchAllXMLRequest" wsaw:Action="urn:searchAllXML"/>
            <wsdl:output message="axis2:searchAllXMLResponse" wsaw:Action="urn:searchAllXMLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="logIn">
            <wsdl:input message="axis2:logInRequest" wsaw:Action="urn:logIn"/>
            <wsdl:output message="axis2:logInResponse" wsaw:Action="urn:logInResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getJSON">
            <wsdl:input message="axis2:getJSONRequest" wsaw:Action="urn:getJSON"/>
            <wsdl:output message="axis2:getJSONResponse" wsaw:Action="urn:getJSONResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SampleServiceSOAP11Binding" type="axis2:SampleServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="insertMessage">
            <soap:operation soapAction="urn:insertMessage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchAllJSON">
            <soap:operation soapAction="urn:searchAllJSON" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrentUser">
            <soap:operation soapAction="urn:getCurrentUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllJSON">
            <soap:operation soapAction="urn:getAllJSON" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllXMLForUser">
            <soap:operation soapAction="urn:getAllXMLForUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <soap:operation soapAction="urn:createUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllXML">
            <soap:operation soapAction="urn:getAllXML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getXML">
            <soap:operation soapAction="urn:getXML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllJSONForUser">
            <soap:operation soapAction="urn:getAllJSONForUser" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroup">
            <soap:operation soapAction="urn:getGroup" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIPAddress">
            <soap:operation soapAction="urn:getIPAddress" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publish">
            <soap:operation soapAction="urn:publish" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchAllXML">
            <soap:operation soapAction="urn:searchAllXML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="logIn">
            <soap:operation soapAction="urn:logIn" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJSON">
            <soap:operation soapAction="urn:getJSON" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SampleServiceSOAP12Binding" type="axis2:SampleServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="insertMessage">
            <soap12:operation soapAction="urn:insertMessage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchAllJSON">
            <soap12:operation soapAction="urn:searchAllJSON" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrentUser">
            <soap12:operation soapAction="urn:getCurrentUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllJSON">
            <soap12:operation soapAction="urn:getAllJSON" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllXMLForUser">
            <soap12:operation soapAction="urn:getAllXMLForUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <soap12:operation soapAction="urn:createUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllXML">
            <soap12:operation soapAction="urn:getAllXML" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getXML">
            <soap12:operation soapAction="urn:getXML" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllJSONForUser">
            <soap12:operation soapAction="urn:getAllJSONForUser" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroup">
            <soap12:operation soapAction="urn:getGroup" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIPAddress">
            <soap12:operation soapAction="urn:getIPAddress" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publish">
            <soap12:operation soapAction="urn:publish" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchAllXML">
            <soap12:operation soapAction="urn:searchAllXML" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="logIn">
            <soap12:operation soapAction="urn:logIn" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJSON">
            <soap12:operation soapAction="urn:getJSON" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SampleServiceHttpBinding" type="axis2:SampleServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="insertMessage">
            <http:operation location="SampleService/insertMessage"/>
            <wsdl:input>
                <mime:content type="text/xml" part="insertMessage"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="insertMessage"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchAllJSON">
            <http:operation location="SampleService/searchAllJSON"/>
            <wsdl:input>
                <mime:content type="text/xml" part="searchAllJSON"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="searchAllJSON"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrentUser">
            <http:operation location="SampleService/getCurrentUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getCurrentUser"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getCurrentUser"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllJSON">
            <http:operation location="SampleService/getAllJSON"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAllJSON"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllJSON"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllXMLForUser">
            <http:operation location="SampleService/getAllXMLForUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAllXMLForUser"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllXMLForUser"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createUser">
            <http:operation location="SampleService/createUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="createUser"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="createUser"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllXML">
            <http:operation location="SampleService/getAllXML"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAllXML"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllXML"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getXML">
            <http:operation location="SampleService/getXML"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getXML"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getXML"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllJSONForUser">
            <http:operation location="SampleService/getAllJSONForUser"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getAllJSONForUser"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getAllJSONForUser"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getGroup">
            <http:operation location="SampleService/getGroup"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getGroup"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getGroup"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getIPAddress">
            <http:operation location="SampleService/getIPAddress"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getIPAddress"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getIPAddress"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="publish">
            <http:operation location="SampleService/publish"/>
            <wsdl:input>
                <mime:content type="text/xml" part="publish"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="publish"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchAllXML">
            <http:operation location="SampleService/searchAllXML"/>
            <wsdl:input>
                <mime:content type="text/xml" part="searchAllXML"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="searchAllXML"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="logIn">
            <http:operation location="SampleService/logIn"/>
            <wsdl:input>
                <mime:content type="text/xml" part="logIn"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="logIn"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getJSON">
            <http:operation location="SampleService/getJSON"/>
            <wsdl:input>
                <mime:content type="text/xml" part="getJSON"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="getJSON"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SampleService">
        <wsdl:port name="SampleServiceSOAP11port_http" binding="axis2:SampleServiceSOAP11Binding">
            <soap:address location="http://localhost:8080/axis2/services/SampleService"/>
        </wsdl:port>
        <wsdl:port name="SampleServiceSOAP12port_http" binding="axis2:SampleServiceSOAP12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/SampleService"/>
        </wsdl:port>
        <wsdl:port name="SampleServiceHttpport" binding="axis2:SampleServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/SampleService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
